@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 20px;
}
